*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    place-items: center;
    text-align:center;
    background-color: rgb(120, 160, 161);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    padding: 1em;
    font-size: 2.5em;
}

footer {
    text-align: center;
    margin-top: 1em;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

.clear {
    font-size: 1.5em;
}

#freshStart {
    font-size: 1.5em;
    color:rgb(120, 160, 161);
    padding: .25em;
    border-radius: 3px;
    font-family: inherit;
}

/* --grid-rows is altered dynamically in the script page */
/* creates rows and columns of 1fr size --grid-rows x --grid-cols times */
#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);;
    border: 4px solid black;
    border-radius: 6px;
    height: 28em;
    width: 28em;
    background-color: white;
    margin: auto;
    margin-top: 1.5em;
}
  
/* basic styles for the grid */
.grid-item {
    color: white;
    background-color: white;
}