:root {
    --grid-cols: 1;
    --grid-rows: 1;
    /* --item-size: (--grid-cols / 103); */
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100vw;
    max-height: 100vh;
    place-items: center;
}

header {
    text-align: center;
    padding: 1em;
}

.clear {
    font-size: 1.5em;
}

/* --grid-rows is altered dynamically in the script page */
/* creates rows and columns of 1fr size --grid-rows x --grid-cols times */
#container {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-height: 60vh;
    max-width: 60vw;
    text-align: center;
}
  
/* basic styles for the grid */
.grid-item {
    color: white;
    border: 1px solid grey;
    background-color: white;
    height:4em;
    width:4em;
}